src/META-INF/wsdl/localhost_8080/CityPark_Bank/BankImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Bank.CityPark/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Bank.CityPark/" name="BankImplService">
<types/>
<message name="transfer">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:double"/>
</message>
<message name="transferResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="doCreditCheck">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:double"/>
</message>
<message name="doCreditCheckResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="transferpin">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:double"/>
<part name="arg3" type="xsd:int"/>
</message>
<message name="transferpinResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="Bank">
<operation name="transfer" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Bank.CityPark/Bank/transferRequest" message="tns:transfer"/>
<output wsam:Action="http://Bank.CityPark/Bank/transferResponse" message="tns:transferResponse"/>
</operation>
<operation name="doCreditCheck" parameterOrder="arg0 arg1">
<input wsam:Action="http://Bank.CityPark/Bank/doCreditCheckRequest" message="tns:doCreditCheck"/>
<output wsam:Action="http://Bank.CityPark/Bank/doCreditCheckResponse" message="tns:doCreditCheckResponse"/>
</operation>
<operation name="transferpin" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Bank.CityPark/Bank/transferpinRequest" message="tns:transferpin"/>
<output wsam:Action="http://Bank.CityPark/Bank/transferpinResponse" message="tns:transferpinResponse"/>
</operation>
</portType>
<binding name="BankImplPortBinding" type="tns:Bank">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="transfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</output>
</operation>
<operation name="doCreditCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</output>
</operation>
<operation name="transferpin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Bank.CityPark/"/>
</output>
</operation>
</binding>
<service name="BankImplService">
<port name="BankImplPort" binding="tns:BankImplPortBinding">
<soap:address location="http://localhost:8080/CityPark_Bank/BankImplService"/>
</port>
</service>
</definitions>